#map{
    width: 100% ;
    height: 580px ;
    background-position: center ;
}

.googlemap{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border: solid 3px;
    border-radius: 5px;
}

.title-text{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.title-text2{
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
}

.title-text3{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.search-container{
    display:flex;
    justify-content:center
}

.span-marker{
    color: red;
}

.span-btn{
    color: #F15A24;
}

h2{
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* 必要に応じて他のスタイルを追加 */
}

.item-row {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 80px; /* 各行の間隔 */
    border-bottom:  solid 1px #C0C0C0;
    padding-bottom: 30px;
}

.item-image {
    width: 50%; /* または具体的なサイズ、例: 100px */
    max-width: 100%; /* 画像がコンテナをはみ出さないように */
    height: auto; /* アスペクト比を保持 */
    border: solid 2px;
    border-radius: 5px;
    margin-left: 15px;
}

.text-content {
    flex: 1; /* 残りの空間をテキストコンテンツに割り当て */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* タイトルは上、本文は下に配置 */
    margin-left: 20px; /* 画像との間隔 */
    margin-right: 30px;
}

.item-user {
    /* 必要に応じてユーザーのスタイルを追加 */
    margin-left: 0px; /*仮*/
    margin-bottom: 50px; /*仮*/
    font-size: 20px;
}


.item-title {
    /* 必要に応じて地名のスタイルを追加 */
    margin-left: 0px; /*仮*/
    margin-bottom: 50px; /*仮*/
    font-size: 25px;
}

.item-title-link{
    margin: 0 0 0 auto; /*仮*/
    margin-bottom: 30px; /*仮*/
    font-size: 15px;
    color: blue;
}

.btn2{
    display:block;
    width: 16%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    padding:8px 24px;
    color:white;
    opacity: 0.8;
    background-color: #008080;
    box-shadow: 2px 2px black;
    border-radius: 5px
}

.btn2:hover{
    opacity: 1.0;
}

.btn2:active{
    position: relative;
    box-shadow: None;
    top: 2px;
    left: 2px;
}

.btn1back {
	text-align: center;
}

.btn1{
	display: inline-block;
	vertical-align: middle;
	margin-top: 40px;
	margin-right: 0 auto;
	margin-bottom: 60px;
	padding: 6px 25px;
	color: #F15A24;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #F15A24;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
} 

.btn1:hover{
    color: #ffffff;
    background-color: #F15A24;
}

.btn4back {
	text-align: center;
}

.btn4{
	display: inline-block;
	vertical-align: middle;
	margin-top: 40px;
	margin-right: 0 auto;
	margin-bottom: 60px;
	padding: 6px 25px;
	color: #008080;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #008080;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
} 

.btn4:hover{
    color: #ffffff;
    background-color: #008080;
}

.googlemap_link , .post_link{
    color: blue;
}

.search-container{
    display: flex;
    align-items: center;
}

