.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin-top: 50px;
}

.image-container{
    width: 60%;
    max-width: 100%;
    margin: 0px 20px;
    height: 500px;
}

.googlemap{
    flex: 1;
    width: 40%;
    max-width: 100%; /* 画像がコンテナをはみ出さないように */
    border: solid 3px;
    border-radius: 5px;
    margin-right: 20px
}

#map{
    width: 100% ;
    height: 100% ;
}

.item-image {
    width: auto; /* または具体的なサイズ、例: 100px */
    max-width: 100%;/* 画像がコンテナをはみ出さないように */
    max-height: 500px;
    height: 100%;/* アスペクト比を保持 */
    margin:0 auto;
    border: solid 3px;
    border-radius: 5px;
}

.title-text{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.item-title{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 30px;
}

.item-address{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

.item-body{
    font-size: 30px;
    margin-top: 70px;
    margin-left: 30px;
}


.btn2{
    display:block;
    margin-top: 50px;
    margin-right: 1050px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
    padding:8px 24px;
    color:white;
    opacity: 0.8;
    background-color: #008080;
    box-shadow: 2px 2px black;
    border-radius: 5px
}

.btn2:hover{
    opacity: 1.0;
}

.btn2:active{
    position: relative;
    box-shadow: None;
    top: 2px;
    left: 2px;
}

.btn3{
    display: block;
    margin-top: 70px;
    margin-right: 1050px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-align: center;
    padding:8px 24px;
    color:white;
    opacity: 0.8;
    background-color: #00ff7f;
    box-shadow: 2px 2px black;
    border-radius: 5px
}

.btn3:hover{
    opacity: 1.0;
}

.btn3:active{
    position: relative;
    box-shadow: None;
    top: 2px;
    left: 2px;
}


.btn4back{
    background-color: #ff7f50;
    margin-top: 20px;
    margin-right: 1152px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-align: center;
    box-shadow: 2px 2px black;
    border-radius: 5px
}

.btn4{
    display: block;
    padding:8px 24px;
    color:white;
    opacity: 0.8;
}

.btn4back:hover{
    background-color: #ff6347;
}

.btn4:hover{
    opacity: 1.0;
}

.btn4back:active{
    position: relative;
    box-shadow: None;
    top: 2px;
    left: 2px;
}

