#map{
    width: 100% ;
    height: 1000px ;
    background-position: center ;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* 必要に応じて他のスタイルを追加 */
}

.item-row {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* 各行の間隔 */
}

.item-image {
    width: 50%; /* または具体的なサイズ、例: 100px */
    max-width: 100%; /* 画像がコンテナをはみ出さないように */
    height: auto; /* アスペクト比を保持 */
}

.text-content {
    flex: 1; /* 残りの空間をテキストコンテンツに割り当て */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* タイトルは上、本文は下に配置 */
    margin-left: 20px; /* 画像との間隔 */
}

.item-user {
    /* 必要に応じてユーザーのスタイルを追加 */
    margin-left: 0px; /*仮*/
    margin-bottom: 0px; /*仮*/
}

.item-title {
    /* 必要に応じて地名のスタイルを追加 */
    margin-left: 100px; /*仮*/
}

.btn{
    display:block;
    margin: 20px 550px;
    text-align: center;
    padding:8px 24px;
    color:white;
    opacity:0.8;
    background-color: lightgreen;
}

.googlemap_link , .post_link{
    color: blue;
}